*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
th{
    background-color: rgb(48, 233, 187);
}
button{
    width: 80px;
    height: 40px;
    background-color: lightblue;
}
input{
    width: 100px;
    height: 40px;
    top: 10px;

}